.ckeditor5-toolbar-button-braille {
  background-image: url(../icons/braille.svg);
}

.braille-font,
.form-element.braille-font,
.ck-editor__main .ck-editor__editable .braille-font {
  display: block;
  font-size: 3rem;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  line-height: 1.25;
}

.form-element.braille-font-admin {
  text-align: center;
}

td > .form-item > .form-element.braille-font-admin,
td > .ajax-new-content > .form-item > .form-element.braille-font-admin {
  width: 5rem;
}

.braille-keys,
.form-element.braille-keys {
  font-size: 1rem;
}
